	/* Boite de dialogue
================================================== */
.dialogue_1 { 
display:none;
position: fixed; 
top: 0; 
left: 0; 
right: 0; 
bottom: 0;  
margin: 0;
overflow-x:hidden;
overflow-y:auto;
padding: 0;
z-index:110; 
background-color: rgba(100,100,100,0.8);
}
.dialogue_1.active {
display:block;
}
.dialogue_3 {
height:100%;
width:98%;
padding:0 1%;
font-size:1em;
background-color: #ffffff;
}
.dialogue_3 p, .dialogue_3 a {
color: #565656;
text-shadow: none;
}
.div_apercu_fermer {
position:-webkit-sticky;
position:sticky;
top: 0;
height:50px;
line-height:50px;	
text-align:right;
z-index: 102;
}
.div_apercu_fermer button {
width:unset;
padding: 0 2%;
}
